<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.app.mapper.LabelInfoMapper">


    <select id="customListByApartmentId" resultType="com.atguigu.lease.model.entity.LabelInfo">
        select li.*
        from
            (select * from apartment_label al where al.apartment_id = #{id} and al.is_deleted = 0) t1
                left join
            label_info li
            on
                t1.label_id = li.id and li.is_deleted = 0
    </select>

    <select id="customListByRoomId" resultType="com.atguigu.lease.model.entity.LabelInfo">
        select
            li.*
        from
                (select * from room_label rl where rl.room_id = #{id} and rl.is_deleted = 0)t1
                    left join
            label_info li
            on t1.label_id = li.id and li.is_deleted = 0;
    </select>


</mapper>
